/* Базові стилі (мобільні - 320px) */
.hero {
  position: relative;
  background-color: #23132b;
  overflow: hidden;
  padding: 16px;
}

.hero::before,
.hero::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.hero::before {
  top: 0;
  height: 80px;
  background: linear-gradient(180deg, rgba(6, 3, 7, 1), rgba(35, 19, 43, 0));
}

.hero::after {
  bottom: 0;
  height: 137px;
  background: linear-gradient(0deg, rgba(6, 3, 7, 1), rgba(35, 19, 43, 0));
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.hero-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.content-item {
  max-width: 100%;
  text-align: center;
  padding: 0;
}

.title-hero {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;

  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 20px;
  text-align: left;
}

.text-hero {
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 24px;
  text-align: left;
}

.button-hero {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  height: 47px;
  padding: 10px 24px;
  border-radius: 12px;
  border: none;
  background: rgb(118, 65, 145);
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  gap: 12px;
}

.hero-list-img-first {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-list-first-images {
  border-radius: 16px;
}

/* Планшет: 768px */
@media (min-width: 768px) {
  .hero {
    padding: 32px;
  }
  .hero-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-item {
    max-width: 600px;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 32px;
  }

  .title-hero {
    font-size: 48px;
  }

  .text-hero {
    font-size: 18px;
  }

  .button-hero {
    max-width: 246px;
    height: 47px;
  }

  .hero-items-img img {
    max-width: 140px;
  }
}

/* Десктоп: 1440px */
@media (min-width: 1440px) {
  .hero-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }

  .content-item {
    width: 671px;
    padding-top: 215px;
    padding-bottom: 216px;
    padding-right: 31px;
  }

  .title-hero {
    font-size: 84px;
  }

  .text-hero {
    font-size: 20px;
  }

  .button-hero {
    max-width: 206px;
    height: 47px;
  }

  .hero-list-img-first {
    flex-direction: column;
  }

  .hero-items-img img {
    max-width: 312px;
    height: auto;
  }
}
